<div class="sudoku-container">
  <h1>Sudoku Validator</h1>
  <div class="sudoku-grid">
    <div *ngFor="let row of sudokuGrid; let rowIndex = index">
      <input
        *ngFor="let cell of row; let colIndex = index"
        type="text"
        [(ngModel)]="sudokuGrid[rowIndex][colIndex]"
        (ngModelChange)="updateValue($event, rowIndex, colIndex)"
        [min]="1"
        [max]="sudokuGrid.length"
      />
    </div>
  </div>
  <div class="result">
    <button (click)="checkSudoku()">Validate Sudoku</button>
    <span *ngIf="isValid !== null" [ngClass]="isValid ? 'valid' : 'invalid'">
      Sudoku is {{ isValid ? "Valid" : "Invalid" }}
    </span>
  </div>
</div>
